.HeaderContainer {
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
  position: fixed;
  background-color: #db222a;
  color: white;
  top: 0px;
  z-index: 1;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 10% 30%;
  font-family: "Titillium Web", sans-serif;
  padding: 0 50px;
  height: 75px;
  width: 100%;
}

.HeaderLogoContainer {
  line-height: 75px;
  font-size: 32px;
}

.HeaderMenuContainer {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-between;
}

.HeaderMenuContainer ul {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.HeaderMenuContainer ul li {
  line-height: 75px;
  text-align: center;
}

.HeaderMenuContainer ul li:hover {
  cursor: pointer;
  background: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .HeaderContainer {
    grid-template-columns: 30% 60%;
  }
  .HeaderMenuContainer {
    display: grid;
    grid-template-columns: 80% 40%;
  }
}

.HeaderBtn {
  background: #facfad;
  color: #17255a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0;
  width: 100px;
  padding: 10px;
}

.HeaderBtn:hover {
  background: #17255a;
  color: #facfad;
  border: none;
}

/* .HDropdown {
  position: relative;
}

.HDcontent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.HDcontent a {
  color: black;
  text-decoration: none;
  display: block;
}

.HDcontent a:hover {
  background-color: #f1f1f1;
}

.HDropdown:hover .HDcontent {
  display: block;
}

.HDropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
